/* formats the contents of each section */
.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.summary * {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.horizontal-content {
  margin-top: 70px;
  display:flex;
  justify-content: space-evenly;
}

.horizontal-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why p {
  width: 60%;
}

.summary {
  height: 650px;
}

.community p {
  width: 330px;
}

.accommodations p {
  width: 200px;
  text-align: center;
}

.how-it-works p {
  font-size: 30px;
  max-width: 500px;
}

.how-it-works div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.try-it {
  padding-bottom: 120px;
}

/* used in multiple sections*/
.icon {
  width: 40px;
  height: 40px;
}

.icon-background {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #F1F3FB;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
  border-radius: 36.5px;
  background-color: #4A69D9;

  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
}

/* all sections */
img {
  width: 100%;
}

h1, p {
  text-align: left;
}

section {
  padding-left: 100px;
  padding-right: 100px;
}

.home-page section:nth-child(even) {
  background-color: #F5F5F5;
}