@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

/* Navbar */
.logo {
  margin: 3px;
}

nav {
  background-color: white;
  border-bottom: solid #4A69D9 3px;
  /* margin: 5px; */
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a:hover, nav span {
  color: black;
  text-decoration: none; 
  cursor: pointer;
}

a, #nav-links {
  color: black;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none; 
}

.navbar-brand {
  font-weight: bold;
  font-size: 44px;
  text-decoration: none;
}

#nav-links {
  font-size: 20px;
  padding-top: 10px;
}


/* General page style */
/* .home-page, .about-page {
  width: 70%;
} */

/* Default */
.App {
  text-align: center;
  font-family: 'Mulish', 'sans-serif';
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}